

.round-button {
  
    width:50px;
    height:20px;

    border: 1px solid #919191 ;
    border-radius: 15%;
    color:#f5f5f5
    text-decoration:none;
    background: yellow;
    box-shadow: 0 0 3px gray;
    font-size:13px;
   }


.head{
	background-color: #f9e934;
	height: 20%;
	font-family: sans-serif;
	font-size: 20px;


}
.midbody-center{
	padding-left: 20%;
}
.midbody{
	background-color :#e8e8e8;
	padding-top: 50px;
	height:100%;
	-webkit-box-shadow: -2px -18px 46px -10px rgba(168,165,168,0.71);
-moz-box-shadow: -2px -18px 46px -10px rgba(168,165,168,0.71);
box-shadow: -2px -18px 46px -10px rgba(168,165,168,0.71);
}
.horizontal-line{

	height: 11px;
	background-color: #eff248;
	-webkit-box-shadow: -2px -18px 46px -10px rgba(168,165,168,0.71);
-moz-box-shadow: -2px -18px 46px -10px rgba(168,165,168,0.71);
box-shadow: -2px -18px 46px -10px rgba(168,165,168,0.71);
}
.img{
	background-color: #e0e0e0;
	padding-top: 50px;
	padding-left: 10px;
	padding-right: 10px;
	border: 1px solid #e8e8e8;
	float:left;
}
.textbox-small{
	color:yellow;
	width:200px;
	padding-top: 20px;
	padding-left: 10px;
	padding-right: 10px;
	text-align: justify;
	float:left;
}

.textbox-large{
	color:black;
	width:275px;
padding-top: 20px;
	padding-left: 10px;
	padding-right: 10px;
	float:left;
}
.lowerbody{
	background-color: #919191;
	height:50%;
}
.bottombody{
	background-color:#424242;
	height:10%;
}
.width{
	width: 100%;

}
.boxed {
	color: yellow;
	height: 50px;
	width: 35%;
	margin-top: -50px;
	padding-top: 10px;
	margin-left: 500px;
  background-color:black;
}
.logo{
	width :10%;
}

.linkpadding{
	width:80%;
	text-align: right;
	padding-top: 5%;
	padding-left:7%;
}
.wordspacing{

	margin-right: 10px;
	margin-left: 10px;
}
a.footer{
	padding-top: 5px;
	color:#eaeaea;
}
a.blog{
	color:#c63d3d;
}
a.twitter{
	color:yellow;	
}
a{
	color:black;

}
a:link{
	text-decoration: none;
}
a:hover{
	text-decoration:underline;
}